DB_TIMEZONE=America/New_York
DB_DATABASE=app
DB_USERNAME=app
DB_PASSWORD=secret
DB_ROOT_PASSWORD=secret
MSSQL_SA_PASSWORD=Str0ngP@ssw0rd!
POSTGRES_PORT=5432
MARIADB_PORT=3306
MYSQL_PORT=3307
MSSQL_PORT=1433
ADMINER_PORT=8080
